@media print {
  @page {
    size: 297mm 420mm;
  }

  .newpage {
    page-break-before: always !important;
    display: initial !important;
  }

  .printOnly {
    display: initial !important;
  }

  .smallPhoto {
    display: initial !important;
  }

  .largePhoto {
    display: none !important;
  }

  .qrcode {
    max-height: 6em;
    margin-top: -6em;
  }

}

.printOnly {
  display: none;
}

.newpage {
  display: none;
}

.smallPhoto {
  display: none;
  max-height: 6em;
}

.largePhoto {
  max-width: 100%;
}
